* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.hero-section {
  background-image: url(/images/1stpageback.jpg);
  background-repeat: no-repeat;
  max-width: 1770px;
  min-height: 820px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #FFFFFF;
}

.brand-intro {
  margin-top: 10%;
  list-style: none;
}

.brand-name {
  font-weight: bold;
  font-size: 48px;
  font-family: "Josefin sans";
}

.brand-tagline {
  font-size: 22px;
  font-family: "Josefin sans";
  letter-spacing: 5px;
  font-weight: normal;
}

.search-wrapper {
  width: 500px;
  height: 60px;
  background-color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border: none;
  outline: none;
}

.search-button {
  width: 153px;
  height: 60px;
  color: #FFFFFF;
  background-color: #5474FD;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  outline: none;
}

.search-button:hover {
  color: #496BFE;
  cursor: pointer;
  color: black;
  background-color: #5474FD;
  border: solid rgb(44, 44, 121);
}

.fa-sharp-duotone {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.scroll-down {
  margin-top: 20%;
}